html {
    color:white;
    background-color: black;
    font-size: 25px; 
    font-family: 'Open Sans', sans-serif; <link href="https://fonts.googleapis.com/css?family=Courier+Prime&display=swap" rel="stylesheet"
  }

h1 { text-align: center;
    }
    img {
        display: block;
        margin: 0 auto;
      } 

